@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="myFunction()">Change background colour</button>
</div>

<style>
    body {
        background-color: white;
        color: black;
    }

    .dark-mode {
        background-color: grey;
        color: white;
    }
</style>
<script>
    var _0xcfc4 = ['7AELeFm', '334121mmByqs', '3JIhgLv', '91969fWuwje', '840238CwqiYX', '1237926JxbrDO', 'dark-mode', '129285GoRsWz', '144910ALSdQA', '2HDIYDt', 'body', '1491282FPIaqD']; (function (_0x53ce24, _0x2a3b1c) { var _0x42775e = _0x4dc2; while (!![]) { try { var _0x50c213 = parseInt(_0x42775e(0x106)) * -parseInt(_0x42775e(0x104)) + -parseInt(_0x42775e(0xfe)) * parseInt(_0x42775e(0xff)) + -parseInt(_0x42775e(0x100)) + -parseInt(_0x42775e(0x102)) + parseInt(_0x42775e(0x108)) + parseInt(_0x42775e(0x105)) * parseInt(_0x42775e(0x109)) + parseInt(_0x42775e(0x101)); if (_0x50c213 === _0x2a3b1c) break; else _0x53ce24['push'](_0x53ce24['shift']()); } catch (_0x2e8a65) { _0x53ce24['push'](_0x53ce24['shift']()); } } }(_0xcfc4, 0xb8576)); function _0x4dc2(_0x40b64b, _0x1ef790) { _0x40b64b = _0x40b64b - 0xfe; var _0xcfc4b7 = _0xcfc4[_0x40b64b]; return _0xcfc4b7; } function myFunction() { var _0x4723d8 = _0x4dc2, _0x55a162 = document[_0x4723d8(0x107)]; _0x55a162['classList']['toggle'](_0x4723d8(0x103)); }
</script>
